/* using theme color for text and background */

.ThemeText {
  color: #8c568d;
}

.ThemeBackground {
  background-color: #8c568d;
  color: white;
}

/* for each section add margin  */

.newDivider {
  margin-top: 10%;
}

/* buttons */

.btn:hover {
  color: white;
}

/* keep space between tags */

.margin-top {
  margin-top: 8%;
}

.marginBottom {
  margin-bottom: 20%;
}

/* search bar in nav bar  */

.searchButton {
  color: #f0f9ff;
}

.searchButton:hover {
  color: #f0f9ff;
  border-color: #f8f9fa;
  text-decoration: none;
}

/* icons */
.fa-star {
  color: #f4c150;
}

.heart-Icon {
  color: #8c568d;
  font-size: 35px;
}

.shopping-cart-Icon {
  color: #8c568d;
  font-size: 35px;
}
.img-fluid {
  max-width: 30%;
}

.rating-box {
  display: inline-block;
}   
.rating-container {
    direction: rtl !important;
}
.star {
      display: inline-block;
      margin: 15px 0;
      color: #d4d4d4;
      cursor: pointer;
      font-size: 50px;
      transition: color 0.2s;
}
.inputstar {
      display: none;
    }
    
.star:hover, .star:hover ~ .star, input:checked ~ .star  {
      color: gold;
    }

.rateLable{
  display: inline-block;
      margin: 15px 0;
      font-size: 40px;
      transition: color 0.2s;
}
.commenta {
  font-weight: 700;
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
  color: LimeGreen;
}
.commenta:hover {
  transform: translateY(-2px);
  box-shadow: inset 0 -2px LimeGreen;
}
.commenta:active {
  transition: 0.5s;
  transform: translateY(2px);
}
#comments:not(:target) {
  display: none;
}
#comments:target {
  display: block;
  margin: 50px 0 0;
}
