.ThemeText {
    color:  #8c568d;
}

.ThemeBackground {
    background-color: #8c568d;
    color: white;
}

.newDivider {
    margin-top: 10%;
}

.btn:hover {
    color: white;
}

.marginBottom {
    margin-bottom: 20%;
}

.margin-top {
    margin-top: 10%;
}

.searchButton {
    color: #f0f9ff;
}

.searchButton:hover {
    color: #f0f9ff;
    border-color: #f8f9fa;
    text-decoration: none;
}